body{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.scores{

    display: flex;
    padding: 10px;
}

.pScore{

    padding: 15px;
}
.cScore{

    padding: 15px;
}
#feedback{
    border: 1px solid black;
    padding: 5px;
}
button{
    margin: 20px;
    font-size: 32px;
    padding: 32px 16px;
    width: 150px;
}
#reset{
    margin: 30px;
}
